<div class="container">
    <img ng-src="{{mainImageUrl}}" class="img-responsive" width="500px" height="500px">

    <div class="img-responsive thumbnail pull-left" ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)" width="200px" height="200px">
    </div>
    <br/>

    <h1>{{phone.name}}</h1>

    <p>{{phone.description}}</p>

    <ul class="well">
        <li>
            <span>availability and Networks</span>
            <dl>
                <dt>Availability</dt>
                <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
            </dl>
            <dl>
                <dt>Infrafed</dt>
                <dd>{{phone.connectivity.infrared | checkmark}}</dd>

                <dt>GPS</dt>
                <dd>{{phone.connectivity.gps | checkmark}}</dd>
            </dl>
        </li>
        <li>
            <span>Additional Features</span>
            <dd>{{phone.additionalFeatures}}</dd>
        </li>
    </ul>
</div>